@import '../reggae';

.full-width {
    width: 100%;
}

.header {
    border-radius: 10px 10px 0 0;
    background-color: $primary-bg-color;
}

.tab-button {
    font-size: 1.2em;
    border-radius: 0;
}

.tab-selected {
    color: mat-color($selected-color) !important;
}

.tab-deselected {
    color: mat-color($reggae-accent) !important;
}

.left-panel {
    background-color: $primary-bg-color;
}

.bottom-panel {
    background-color: $primary-bg-color;
    width: 100%;
    height: 16px;
    border-radius: 0 0 10px 10px;
}

.content {
    background-color: $primary-bg-color;
    padding-right: 16px;
}
