@import '../../reggae';

.full-width {
  width: 100%;
}

.selected {
  color: mat-color($reggae-primary);
  text-decoration: underline;
}

.can-select {
  color: mat-color($reggae-accent);
  text-decoration: underline;
}
