@import '../../reggae';

.full-width {
  width: 100%;
}

.selected {
  color: mat-color($reggae-primary);
  text-decoration: underline;
}

.can-select {
  color: mat-color($reggae-accent);
  text-decoration: underline;
}

.top-field {
  margin-top: 1em;
}

.bottom-field {
  margin-bottom: 1em;
}

.title {
  margin-block-end: 0.3em;
  font-size: 3em;
  color: $accent-bg-color;
}

.header {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: mat-color($reggae-primary);
  text-align: center;
}

.content {
  border-radius: 0 0 10px 10px;
}

.sign-form {
  border-radius: 10px;
  border: mat-color($reggae-primary) solid;
}

.desc {
  width: 100%;
  border-radius: 10px;
  background-color: $accent-bg-color;
  color: $primary-bg-color;
  text-align: center;
}

.desc-h {
  color: mat-color($reggae-primary);
}

.desc-l {
  font-size: 0.5em;
  color: $accent-bg-color;
}

.mat-tab-group {
  width: 100%;
}

::ng-deep .mat-tab-label {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-tab-header {
  border-bottom: 0;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}
